<div class="footer-layer">
  <div class="ui container">
    <div>FOLLOW US:</div>
    <div class="social-links">
      <div class="social-item">
        <a href="#" target="_blank">
          <i class="google icon"></i>
        </a>
      </div>
      <div class="social-item">
        <a href="#" target="_blank">
          <i class="tumblr icon"></i>
        </a>
      </div>
      <div class="social-item">
        <a href="#" target="_blank">
          <i class="twitter icon"></i>
        </a>
      </div>
      <div class="social-item">
        <a href="#" target="_blank">
          <i class="instagram icon"></i>
        </a>
      </div>
      <div class="social-item">
        <a href="#" target="_blank">
          <i class="google plus icon"></i>
        </a>
      </div>
      <div class="social-item">
        <a href="#" target="_blank">
          <i class="youtube icon"></i>
        </a>
      </div>
    </div>

    <div class="footer-copy">&copy; All Rights Reserved. Join the dark side.</div>
  </div>

</div>
